body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('pyramid-195009_1280.jpg');
    background-size: cover;
    background-position: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item h2 {
    background-color: #ffd700; /* dorado */
    margin: 0;
    padding: 10px;
    color: #000;
}

.menu-item p {
    padding: 10px;
    margin: 0;
    color: #333;
}

.section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #ffd700; /* dorado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e6b800;
}

#hieroglyphsResult {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 150px;
    background-color: #ffd700; /* dorado */
    border-radius: 10px;
    margin-top: 20px;
    font-size: 64px; /* Aumentar el tamaño de los jeroglíficos */
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fraction-uses {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fraction-use {
    background-color: #ffd700; /* dorado */
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fraction-use:hover {
    background-color: #e6b800;
}

.fraction-use-detail {
    display: none;
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.book {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    perspective: 1000px;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.page h2 {
    margin-top: 20px;
}

.page p {
    padding: 20px;
    text-align: left;
}

.page:nth-child(odd) {
    transform-origin: left;
}

.page:nth-child(even) {
    transform-origin: right;
}

.page.flipped {
    transform: rotateY(-180deg);
}

#prevPage, #nextPage {
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #ffd700; /* dorado */
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    background-color: #e6b800;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-content {
    display: none;
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 800px;
    margin: 40px auto;
}

.excursion {
    text-align: center;
    margin-top: 20px;
}

.excursion-section {
    background-image: url('fondo.webp');
    background-size: cover;
    background-position: center;
}

.excursion-section h1 {
    color: white;
}

.info-box {
    display: none;
    background-color: rgba(255, 223, 186, 0.9); /* Color acorde a los egipcios */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
    text-align: left;
    position: relative;
}

.object-image {
    position: center;
    top: 40px;
    right: 20px;
}

.object-image img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.object-title {
    margin-top: 600px;
    text-align: 50px;
}

.object-description {
    margin-left: 140px; /* Espacio para la imagen del objeto */
    padding-top: 20px;
}